/node_modules
/public/hot
/public/storage
/public/docs
/storage/*.key
/storage/authorized_keys
/storage/debugbar
/storage/files
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
